startup/config.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="mts-check-account-config">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="devices">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="device">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="windows">
                      <xs:complexType>
                        <xs:attribute name="deviceId" type="xs:string" use="required" />
                        <xs:attribute name="deviceFriendlyNameRegEx" type="xs:string" use="required" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="linux">
                      <xs:complexType>
                        <xs:attribute name="deviceId" type="xs:string" use="required" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="id" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="mock" type="xs:boolean" use="required" />
          </xs:complexType>
        </xs:element>
        <xs:element name="data">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="device">
                <xs:complexType>
                  <xs:sequence>
                    <xs:choice maxOccurs="unbounded">
                      <xs:element name="check">
                        <xs:complexType>
                          <xs:attribute name="request" type="xs:string" use="required" />
                          <xs:attribute name="barrier" type="xs:string" use="required" />
                          <xs:attribute name="responseForActivatingStartRegEx" type="xs:string" use="required" />
                        </xs:complexType>
                      </xs:element>
                      <xs:element name="start">
                        <xs:complexType>
                          <xs:attribute name="request" type="xs:string" use="required" />
                          <xs:attribute name="barrier" type="xs:string" use="required" />
                        </xs:complexType>
                      </xs:element>
                      <xs:element maxOccurs="unbounded" name="command">
                        <xs:complexType>
                          <xs:attribute name="request" type="xs:string" use="required" />
                          <xs:attribute name="barrier" type="xs:string" use="required" />
                        </xs:complexType>
                      </xs:element>
                      <xs:element name="main">
                        <xs:complexType>
                          <xs:attribute name="request" type="xs:string" use="required" />
                          <xs:attribute name="barrier" type="xs:string" use="required" />
                          <xs:attribute name="responseIsPDUEncoded" type="xs:boolean" use="required" />
                        </xs:complexType>
                      </xs:element>
                    </xs:choice>
                  </xs:sequence>
                  <xs:attribute name="id" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="mock" type="xs:boolean" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>